<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">

    <h3>Edit your listing Listing</h3>
    <form method = "POST" action ="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <bable for="title" class="form-lable">Title</bable>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
            <div class="valid-feedback">Title looks good!</div>

        </div>
        <div class="mb-3">
            <bable for="description" class="form-lable">Description</bable>
            <textarea name="listing[description]" type="text" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Add short discription</div>


        </div>
        <div class="mb-3">
            <bable for="image" class="form-lable" class="form-label">Image link</bable>
            <input name="listing[image][url]" value="<%= listing.image.url %>" type="text" class="form-control" />

            <div class="invalid-feedback">Add valid image link</div>


        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <bable for="price" class="form-lable">Price</bable>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
                <div class="invalid-feedback">please enter a valid price</div>


            </div>
            <div class="mb-3 col-md-8">
                <bable for="country" class="form-lable">Country</bable>
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required/>
                <div class="invalid-feedback">please enter country name</div>


            </div>
        </div>
        <div class="mb-3">
            <bable for="location" class="form-lable">Location</bable>
            <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required/>
            <div class="invalid-feedback">please enter location</div>


        </div>










        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>


    </div>
</div>

